# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.U.Instagram Clone.iml
# Datasource local storage ignored files
/../../../../../../../../:\_BrainStation\Game Devepoment Projects\Instagram Clone App\U.Instagram Clone\.idea\.idea.U.Instagram Clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
