# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.InstagramClone.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\_BrainStation\Game Devepoment Projects\Instagram Clone App\GitHub\U.InstagramClone\InstagramClone\.idea\.idea.InstagramClone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
